<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
          <link rel="stylesheet" href="{{ absolute_url(asset('public/assets/css/app.css')) }}">

          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="" />
    <style>
        .panel .panel-body-left {
            padding: 20px 25px;
            font-size: 24px;
            font-weight: 400;
           /** color: #fff;**/
        }

        .panel .panel-body-right {
            padding: 20px 25px;
            font-size: 34px;
            font-weight: 400;
        }
        .minus{
            color: indianred;
        }
        .plus{
            color: green;
        }
        .panel.panel-filled.panel-success {
            background: #f5f5f5;
        }
        .num-symbol{
            font-size: 14px;
        }
        body{
            font-size: 15px;
        }
    </style>
</head>
<body>

<!-- Title -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Crypto Market Cap</h2>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<!-- End Title -->

<!-- Navigation -->
<nav class="navbar navbar-inverse fixed">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-inverse-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
			{% if is_granted('ROLE_ADMIN') %}
                <li><a class="" href="{{ path('admin') }}"> Admin Area</a></li>
			{% else %}
                <li><a href="{{ path('security_login') }}">Login</a></li>
			{% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
    </div>
</nav>
<!-- End Navigation -->


<div class="container">
	{% block body %}{% endblock %}
</div>


{% block javascripts %}

    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
					{% for page in global_content.pages %}
                        <a href="{{path('page', {slug: page.slug}) }}">{{ page.name }}</a> |
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2018 <a href="http://webberdoo.co.uk" target="_blank">Webberdoo.co.uk</a>. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>


    <script src="{{ absolute_url(asset('public/assets/js/app-dist.js')) }}" ></script>
{% endblock %}
</body>
</html>
